/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 1:53:40 PM
    Author     : admin
*/

* {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.VBox {
    -fx-background-color: burlywood;
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-alignment: center;
}
.Text {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-fill: yellow;
    -fx-stroke-width: 2;
    -fx-stroke: red;

}

.Btn {
    -fx-font-size: 16px;
    -fx-pref-width: 150px;
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}